{% extends 'layout.html' %}

{% block content %}

    <h1>Tuş Vuruş Dinamikleri ile Kimlik Doğrulama Sistemi nedir?</h1>
   
    <blockquote class="blockquote mt-4">
        <p class="mb-0" style="font-style:oblique;" > 
            Bilgisayarların günlük yaşantının her alanında kullanılıyor olması sebebiyle veri ve bilgi
            güvenliğine yönelik çalışmalar gün geçtikçe artış göstermiş olup önemini belirtmiştir. 
            Bilgisayar sistemlerinin güvenliği çeşitli açılardan ele alınabilir. 
            Bunlardan biri yetkisiz kişilerin bilgisayar sistemlerinin olduğu alana girişini engelleyen
            fiziksel güvenlik yöntemlerdir. Bir diğeri kimlik tanıtımı (identification),
            kimlik doğrulama (authentication) ve yetkilendirme (authorization) işlemlerine
            dayanan kontrol mekanizmasıdır. Bu mekanizma sayesinde sadece sistemde tanımlı ve 
            gerekli yetkilere sahip kullanıcıların bilgisayar sistemine girişine izin verilir.
            Bunu sağlamanın en bilinen ve en basit yöntemi de kullanıcı adı (user id) ve şifre 
            (password) mekanizmasıdır. Kullanıcılara ait olan şifreler çeşitli şekillerde 
            başkaları tarafından ele geçirilebilmekte ve hesabın gerçek sahibi dışındaki kişiler 
            de bu hesaplara girebilmektedir. Bu durumu önlemek üzere güvenliğin bir kat daha 
            arttırılması için bu çalışmada, şifreyle birlikte kullanıcıların klavye kullanım 
            stilinin de kullanılabileceği önerilmektedir.  Bu çalışmada davranışsal biyometrik kimlik
            doğrulama yöntemlerinden biri olan tuş vuruş dinamikleri, yapay sinir ağı algoritmaları 
            destekli, kimlik doğrulamada güvenliği artırmak hedef alınmıştır.
        </p>
    </blockquote>

{% endblock %}


